.box, .box2, .box3, .box4, .box5{
    position: absolute;
    margin-left: 5%;
    margin-top: 8%;
    transform: translate(-40%,-40%);
}


.box2{
    margin-top: 15%; 
}
.box3{
    margin-top: 22%; 
}
.box4{
    margin-top: 29%; 
}
.box5{
    margin-top: 36%; 
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover button, .box2:hover button, .box3:hover button, .box4:hover button, .box5:hover button{
    width: 180px;
    background: #e9e9e9;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}

.caption{
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s; 
    opacity: 0;
}

.box:hover .caption, .box2:hover .caption, .box3:hover .caption, .box4:hover .caption, .box5:hover .caption{
    opacity: 1;
}





@media only screen and (max-width: 1224px) {

    .box{
        margin-top: 20%;
        transform: translate(-50%,-50%);
    }
    
    .box2{
        margin-top: 38%; 
        transform: translate(-50%,-50%);
    }
    .box3{
        margin-top: 55%; 
        transform: translate(-50%,-50%);
    }
    .box4{
        margin-top: 72%; 
        transform: translate(-50%,-50%);
    }
    .box5{
        margin-top: 89%; 
        transform: translate(-50%,-50%);
    }

    .input {
        width: 50px;
        height: 50px;
        border: 4px solid #ffd52d;
        font-size: 15px; 
    }

    .box:hover button, .box2:hover button{
        width: 50px;
    }

    i{
        right: 15px;
        transform: translate(-30%, -40%);
        font-size: 15px;
    }

    .caption{
        display: none;
    }
    
}